*
{
padding:0;
margin:0;
box-sizing:border-box;
}


section
{
	width:700px;
	height:500px;
	border:2px solid gray;
	margin:0px auto;
	padding:20px;
	
}


a[href]
{
	background-color:black;
	color:gold;
	padding:15px;
	margin:20px;
	display:inline-block;

}


/*---------- it takes only attribute---*/

a[href="https://www.google.com/"]
{
	background-color:red;
	color:brown;
}

/*-----------it takes exact value -----*/

a[href^="https://www."]
{
	color:navy;
	background-color:lime;
}
/* up sign(^)takes starting value*/ 

a[href$="twitter.com/login?lang-en"]
{
	color:darkred;
	background-color:gray;
}
/* doller sign takes end value*/

a[href*="instagram"]
{
	color:aqua;
	background-color:tomato;
}
/* star sign takes global value */

a[target~="https_self"]
{
	color:black;
	background-color:yellow;
}

/* tild(~)sign takes starting value*/

                                      /* END OF ATTRIBUTE SELECTORS*/

