*
{
padding:0;
margin:0;
box-sizing:border-box;
}

.box
{
	width:100vw;
	height:100vh;
	/*background-color:orange;*/
	background-image:url("https://thumbs.dreamstime.com/z/modern-cars-white-showroom-isolated-background-59012301.jpg");
	background-size:cover;
	/*background-position:top left;
	background-position:right bottom;
	background-position:left bottom;
	background-position:top right;*/
	background-position:center center;
	background-attachment:fixed;
	
	
	
}

.info
{
  color:black;
  background-color:rgb(0,0,0,.2);
  border-left:2px solid gray;
  border-right:2px solid gray;
  padding:0px 20px;
  text-align:justify;
  font-family:cursive;
  font-size:20px;
 
	
}