*
{
padding:0;
margin:0;
box-sizing:border-box;
}
/*
p
{
	width:500px;
	height:300px;
	padding:100px;
	margin:20px;
	border:2px solid navy;
	color:white;
	background-color:black;
}

div p
{
	background-color:brown;
}

 .info p{
	background-color:lime;*/
	
	
	p{
		background-color:lime;
		font-size:19px;
		text-align:center;
		font-family:elephant;
		border:2px solid gray;
		margin:0px 30px 15px;
		
	}
	
	span
	{
		color:white;
		background-color:brown;
		padding:20px;
		margin:20px;
		display:inline-block;
	}
	
	.main-data  p span
	{
		background-color:purple;
	}
	
	.main-data1 .text p
	{
	background-color:yellow;
	color:black;
	}
	
