*
{
padding:0;
margin:0;
box-sizing:border-box;
}


ul li
{
	background-color:brown;
	color:navy;
	padding:20px;
	margin:20px;
	list-style:none;
	font-size:30px;
	font-family:cursive;
	text-align:center;
}
ul li
{
	background-color:green;
	color:navy;
	padding:20px;
	margin:20px;
	list-style:none;
	font-size:30px;
	font-family:cursive;
	text-align:center;
}


.list-section ul :last-child
{
	background-color:aqua;