
.table-bordered
{
    margin-top:1.5rem;
}
.table th
{
    background-color:#b5093bf5;
    color:white;
    padding:11px;
    font-weight:bold;
    font-family:Georgia;   
}

tbody td
{
    color:rgb(54, 4, 4);
    font-weight:bold;
}

