body {
    /* background: linear-gradient(to right, rgb(31, 31, 2), rgb(77, 17, 17)) */
    background: linear-gradient(to right, rgb(7, 7, 6), rgb(34, 11, 11))
}


.h1Center {
    font-size: 30px;
    color: rgb(199, 211, 198);
    /* background-color: rgb(34, 3, 3); */
    background-color: rgb(8, 116, 44);

    padding: 15px;
    font-weight: bold;
    font-style: italic;
    font-family: Tahoma;
    text-align: center;


}

@media (min-width: 320px) and (max-width :480px) {
    .h1Center {

        font-size: 20px;
        text-align: center;
        font-family: Georgia;
        padding: 13px;
        background: darkkhaki;
        color: currentColor;
        font-weight: bold;
    }

}



/* Style for the PNotify container */
[data-pnotify] .brighttheme-container {

    color: var(--brighttheme-text-color);
    background-color: var(--brighttheme-background-color);
    padding: 1.65rem 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;



}


/* Hide icons in PNotify notifications */
[data-pnotify] .brighttheme-icon-closer,
[data-pnotify] .brighttheme-icon-closer:after,
[data-pnotify] .brighttheme-icon-sticker,
[data-pnotify] .brighttheme-icon-sticker:after {
    display: none;
}

/* right success icon */
[data-pnotify] .brighttheme-icon,
[data-pnotify] .brighttheme-icon>span,
[data-pnotify] .brighttheme-icon>span:after {
    width: 1.3rem !important;
    height: 1.2rem;
    line-height: 4.2rem;

    position: absolute;
    top: 6% !important;
    left: 10%;
}

.pnotify-pre-line {
    /* color: red; */
    text-align: center;
    margin-left: 32px;
}

.card {
    background-color: transparent;
    margin: 15px 10px;
    transition: transform 0.3s ease;
    opacity: 1
}



.card:hover {
    transform: scale(1.1);
    /* Slightly zooms in the element */
    opacity: 0.8;
}


@media(min-width: 320px) {

    .card {
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.1);
    }
}

.card-title {
    /* color: rgb(245, 241, 241); */
    font-size: 22px;
    font-weight: 700;
    font-family: Georgia;
}

.card-body {
    font-size: 18px;
    text-align: justify;
    color: white;
}



/* .anchorChange {
    font-weight: bold;
    margin: 10px 0 10px 0;
    font-size: 20px;
}

.styleColor {
    color: yellow;
    display: block;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}

.anchTagColor {
    color: rgb(2, 255, 150);
    display: block;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;

} */