body {

    background: linear-gradient(to left, #3d0b0b, #221f20);
}



h5 {

    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid yellow;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    font-weight: bold;


    .fa-check-circle {

        color: lime;
        margin: 0 5px 0 0
    }
}







@media only screen and (min-width: 320px) and (max-width: 374px) {
    h5.d-none {
        width: 68%;
        text-align: right;

    }

    .fa-check-circle {
        color: lime;
        position: fixed;
        top: 31%;
        left: 5%
    }
}


@media only screen and (min-width: 375px) and (max-width: 424px) {
    h5.d-none {
        width: 55%;
        text-align: center;
        font-size: 18px;

    }
}


@media only screen and (min-width: 425px) and (max-width: 767px) {
    h5.d-none {
        width: 51%;
        text-align: center;
        font-size: 20px;
    }

}


[data-pnotify] .brighttheme-error {
    background-image: repeating-linear-gradient(135deg, transparent, transparent 35px, hsla(0, 0%, 100%, .3) 0, hsla(0, 0%, 100%, .3) 70px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


[data-pnotify] .brighttheme-icon-closer,
[data-pnotify] .brighttheme-icon-closer:after,
[data-pnotify] .brighttheme-icon-sticker,
[data-pnotify] .brighttheme-icon-sticker:after {
    display: none;
}

span.pnotify-pre-line {
    position: absolute;
    top: 30%;
    left: 14%;
}


[data-pnotify] .brighttheme-icon,
[data-pnotify] .brighttheme-icon>span,
[data-pnotify] .brighttheme-icon>span:after {
    width: 1.2rem;
    height: 1.3rem;
    line-height: 1.2rem;
}


.card {
    background-color: #160202;
    color: white
}

.card-header {
    text-align: center;
    font-size: 25px;
    color: rgb(101, 248, 111);
    font-weight: bold;
    border-bottom: 2px solid gray;
}

.card-body {
    text-align: center;
}