

body
{
    height:100vh;
    background-image: url(/assets/images/people-walking.avif);
    /* background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    background-color: rgba(0, 0, 0, 0.1); */
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:rgb(238, 234, 234)

}

body::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  
}

.Sign01
{
    height:100vh;
    align-items: center;
}