 /* img

{
 
   margin-top: 5%;
    
}



 .btn-primary
{
   position:absolute;
    left:11%;
    top:1%;
} 




.btn-primary:hover
{
    color:black;
    background-color:red;
} */



/* 
 
.box
{
    width:200px;
    height:200px;
    background-color: orange ;
}   */