*
{
padding:0px;
margin:px;
box-sizing:border-box;
}

 .font-weight-bold
{
    font-family:cursive;
    color:rgb(109, 6, 6);
} 

  tbody tr:first-child{
    color:green;
}

tbody tr:last-child{
    color:navy;
}