body{
    background-color: rgb(88, 196, 88);
   
}

.m-1
{
margin-bottom:10px;
}

.heading
{     
    text-align:center;
    padding-bottom: 8px;
    background-color: brown;
    color:rgb(255, 251, 251);
    text-shadow: 2px 2px 8px rgb(247, 240, 240);
}


 .bg-info1
{
   text-transform: capitalize;
   color:rgb(94, 7, 7);
   background-color: #1bc1eb;
   border-radius:  2px solid rgb(252, 31, 31);
   font-family:Gill Sans;
   margin-top:15px;

}
/* 
.bg-info{
    margin-top: 10px;
} */

.bg-warning
{
    line-height: 2rem;
    margin:0;
}


.memo
{
    padding:1px
}