body{
  background-color: #ccc1c563;
}



h1.text-center{
  /* text-shadow:2px 2px 3px  rgb(254, 250, 251); */
  color:hsl(0, 0%, 100%);
  background-color: rgb(83, 79, 79);
  font-weight:bold;
}
p.demo1
{
  color:darkgreen;
}

p.demo2
{
  color: #901ee9;
}

p.demo4
{
  color:navy;
}

p.demo5
{
  color:rgb(245, 64, 4)
}

p.demo6
{
  color:#e60d57;
}

h3
{
  text-transform:capitalize;
}

h3.font1
{
  font-family:algerian;
  
}

 h3.font2
{
  font-family: cursive;
  
}

h3.font3
{
  font-family: Arial
}

h3.font4
{
  font-family:Helvetica;
}
h3.font5
{
  font-family:Gill Sans MT;
}

h3.font6
{
  font-family:Georgia;
}

.text-danger
{
  text-align:justify;
}

.text-capitalize
{
  color:rgb(94, 17, 17);
  font-weight:400;
  
}

/* .card-body
{
   color: brown;
    background-color:lightblue; 
} */


.card-footer
{
  font-size:15px;
  font-weight: bold;
}