body
{
    background:linear-gradient(40deg,#43521e,#df798daf);
    background-attachment: fixed;
}
.form{
  /* margin-top:20%; */
  margin:20% auto;
}

.form label
{
    font-size:20px;
}

.input-group-text i
{
    color:rgb(226, 4, 41);
    font-size:18px;
}